<div class="calc">
  <div class="function">
    <h4>(y2-1)^2+exp(y1+y1)^2-y1+y2</h4>
  </div>
  <div class="row">
    <h5>Координаты исходной точки</h5>
    <div class="col-lg-3">
      <label for="y1">y1</label>
      <input id="y1" type="number" step=".01" placeholder="y1" class="form-control" [(ngModel)]="req.y1">
    </div>
    <div class="col-lg-3">
      <label for="y2">y1</label>
      <input id="y2" type="number" step=".01" placeholder="y2" class="form-control" [(ngModel)]="req.y2">
    </div>
    <div class="col-lg-3">
      <label for="step1">Шаг y1</label>
      <input id="step1" type="number" step=".01" placeholder="Шаг y1" class="form-control"
             [(ngModel)]="req.step1">
    </div>
    <div class="col-lg-3">
      <label for="step2">Шаг y2</label>
      <input id="step2" type="number" step=".01" placeholder="Шаг y2" class="form-control"
             [(ngModel)]="req.step2">
    </div>
  </div>
  <div class="row">
    <h5>Границы околоэстремальной области</h5>
    <div class="col-lg-3">
      <label for="y1Min">y1 Min</label>
      <input id="y1Min" type="number" step=".01" placeholder="y1 Min" class="form-control"
             [(ngModel)]="req.y1Min">
    </div>
    <div class="col-lg-3">
      <label for="y1Max">y1 Max</label>
      <input id="y1Max" type="number" step=".01" placeholder="y1 Max" class="form-control"
             [(ngModel)]="req.y1Max">
    </div>
    <div class="col-lg-3">
      <label for="y2Min">y2 Min</label>
      <input id="y2Min" type="number" step=".01" placeholder="y2 Min" class="form-control"
             [(ngModel)]="req.y2Min">
    </div>
    <div class="col-lg-3">
      <label for="y2Max">y2 Max</label>
      <input id="y2Max" type="number" step=".01" placeholder="y2 Max" class="form-control"
             [(ngModel)]="req.y2Max">
    </div>
  </div>
  <div class="row" style="margin-top: 5px;">
    <div class="col-lg-3">
      <label for="extreme">Экстремум</label>
      <select id="extreme" name="extreme" [(ngModel)]="req.extreme" class="form-control">
        <option *ngFor="let extreme of extrema" [value]="extreme">
          {{ extreme }}
        </option>
      </select>
    </div>
    <div class="col-lg-3">
      <label for="calcMethod">Метод для вычисления</label>
      <select id="calcMethod" name="calcMethod" [(ngModel)]="req.method" class="form-control">
        <option *ngFor="let method of methods" [value]="method">
          {{ method }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <h5>Критерии прекращения поиска</h5>
    <div class="col-lg-3">
      <label for="accuracy">Точность вычисления функции</label>
      <input id="accuracy" type="checkbox" (change)="changeConditions($event, 0)">
      <input type="number" step=".00001" class="form-control" placeholder="Точность вычисления функции"
             *ngIf="hasCondition(0)" [(ngModel)]="req.accuracy" min="0" max="1">
    </div>
    <div class="col-lg-3">
      <label for="loopsAmount">Количество циклов</label>
      <input id="loopsAmount" checked type="checkbox" (change)="changeConditions($event, 1)">
      <input type="number" class="form-control" placeholder="Количество циклов" *ngIf="hasCondition(1)"
             [(ngModel)]="req.loopsAmount" min="0">
    </div>
    <div class="col-lg-3">
      <label for="calcAmount">Количество вычислений функции</label>
      <input id="calcAmount" type="checkbox" (change)="changeConditions($event, 2)">
      <input type="number" class="form-control" placeholder="Количество вычислений функции" *ngIf="hasCondition(2)"
             [(ngModel)]="req.calcAmount" min="0"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-lg-3">
      <button class="btn btn-success btn-sm" (click)="post($event)">Вычислить</button>
    </div>
  </div>
</div>
<div class="res" [hidden]="resp == null">
  <div *ngIf="resp">
    <h4 *ngIf="resp">Критерий прекращения поиска: <b>{{resp.stopCondition}}</b></h4>
    <div *ngIf="resp.extremeVal">
      <h4>Экстремум функции: <b>{{resp.extremeVal.val}}</b></h4>
      <h4>Координаты экстремума: <b>({{resp.extremeVal.y1}}, {{resp.extremeVal.y2}})</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div #chart2D></div>
    </div>
    <div class="col-lg-6">
      <div #chart3D></div>
    </div>
  </div>
</div>
